.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.html{
  scroll-behavior: smooth;
}

.App-link {
  color: #61dafb;
}

/*animation */

@keyframes appear {
  0% {
    opacity:0;
    transform: translateY(30px) scale(0.9); 
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
html{

  scroll-behavior: smooth;
}

.container1{
  animation: appear  ease-in;
  animation-timeline: view();
  animation-range: entry 0;
  animation-range: entry 0% cover 50%;
  
}
#d{
  animation: appear  linear;
  animation-timeline: view();
  animation-range: entry 0;
  animation-range: entry 0% cover 40%;
}
.container2{
  animation: appear  linear;
  animation-timeline: view();
  animation-range: entry 0;
  animation-range: entry 0% cover 20%;
}
#e{
  animation: appear  linear;
  animation-timeline: view();
  animation-range: entry 0;
  animation-range: entry 0% cover 40%;
}
.container3{
  animation: appear  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
#f{
  animation: appear  linear;
  animation-timeline: view();
  animation-range: entry 0;
  animation-range: entry 0% ;
}

/*button css*/

#a{

        position:absolute;
        left: 300px;
        top:100px;
        width: 110px;
        height:30px;
        background-color:#8681FF;
        color:white;
        border-radius: 5px 5px 5px 5px;
        border-color: #8681FF;
        


}
#a:hover{
 
          background-color: rgb(70, 70, 178);   
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
          border:none;
          cursor: pointer;
        }

#b{
        position:absolute;
        left:600px;
        top:100px;
        width: 110px;
        height:30px;
        background-color: #8681FF;
        color:white;
        border-radius: 5px 5px 5px 5px;
        border-color: #8681FF;


   }
#b:hover{
 
         background-color: rgb(70, 70, 178);   
         box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
         border:none;
         cursor: pointer;
        }

#c{

      position:absolute;
      left: 900px;
      top:100px;
      width: 110px;
      height:30px;
      background-color:#8681FF;
      color:white;
      border-radius: 5px 5px 5px 5px;
      border-color: #8681FF;

  }
#c:hover{
 
          background-color: rgb(70, 70, 178);   
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
          border:none;
          cursor: pointer;
        }

   /*div css*/     

.container1{

          background-color:gray; 
 
             position: absolute;
             left:200px;
             top:700px;
            width: 250px;
              height:240px;
    
     
          } 

       

.container2{

            background-color:gray; 

              position: absolute;
             left:900px;
             top:1100px;
              width: 250px;
             height:250px;
 
  
            } 

.container3{

            background-color:gray; 

            position: absolute;
           left:200px;
           top:1515px;
            width: 250px;
            height:250px;
 
  
          } 

 #d{
          position: absolute;
           left:300px;
           top:940px;
           width: 50%;
           
 }    
 #e{
  position: absolute;
   left: 280px;
   top:1360px;
   width: 50%;
}    

#f{
  position: absolute;
   left:280px;
   top:1780px;
}   



.container1:hover{
  
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
cursor: pointer;


}



.container2:hover{
  
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
cursor: pointer;


}




.container3:hover{
  
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
cursor: pointer;


}